{% extends "base/base.html" %}

{% block title %}ISSUE LIST VIEW{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col">
            <a href="{% url 'core:create_is' %}" class="btn btn-outline-success form-control">New Issue</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>NAME</th>
            <th>USER</th>
            <th>GOAL</th>
            <th>DAYSDUR</th>
            <th>TIMESTAMP</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
            {% for gg in object_list %}
                <tr>
                    <td>{{ gg.id }}</td>
                    <td>{{ gg.issuename }} <br><progress id="file" value="{{gg.progress}}" max="100"> 32% </progress></td>
                    <td>{{ gg.user }}</td>
                    <td>{{gg.goal}} <br><progress id="file" value="{{gg.progress}}" max="100"></progress> </td>
                    <td>{{ gg.days_duration }}</td>
                    <td>{{ gg.timestamp }}</td>
                    <td><a href="{% url 'core:detail_is' gg.pk %}" class="btn btn-outline-info">Detail</a></td>
                    <td><a href="{% url 'core:update_is' gg.pk %}" class="btn btn-outline-warning">Update</a></td>
                    <td><a href="{% url 'core:delete_is' gg.pk %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
